body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, div.main {
  background-color: #ffefeb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wallet-adapter-button {
  /* color: #000 !important; */
  background-color: #620DFF !important;
  transition: all 0.4s ease;
}

.wallet-adapter-button:hover {
  background-color: #8d50ff !important;
  transition: all 0.4s ease;
}

.btn-success {
  background-color: #620DFF !important;
  border-color: #ffefeb !important;
  transition: all 0.4s ease;
}

.btn-success:hover {
  background-color: #8d50ff !important;
  border-color: #ffefeb !important;
  transition: all 0.4s ease;
}

.badge.rounded-pill.text-light.bg-success {
  background-color: #620DFF !important;
}